.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
  align-items: center;
  text-align: center;
  margin: 118px auto;
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-width: 284px;
  max-height: 213px;
}


@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 22px 0 26px;
  }
  
  .gallery__image {
    max-width: none;
    max-height: none ;
  }
}

@media screen and (max-width: 320px){
  .gallery {
    grid-template-columns: repeat(1, 1fr); 
    gap: 12px;
    margin: 0 16px 0;
  }
}
