.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
  padding-bottom: 91px;
  height: 70px;
}

.header__logo {
  width: 255px;
  height: 69px;
}


@media screen and (max-width: 768px) {
    .header {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__logo {
    max-width: 188px;
    max-height: 52px;
  }
}
