.page {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1600px;
  background-color: #2a2c2f;
  color: white;
}

@media screen and (max-width: 720px) {
  .page {
    min-width: 362px;
  }
}